<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Profile</title>
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <header class="black">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-xs-6">
					<img src="../assets/images/babys-6.jpg" alt="user" class="img-responsive user">
				</div>
				<div class="col-md-2 col-xs-6">
					<h3>Name of user</h3>
				</div>
			</div>
		</div>
	</header>

	<main>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1>Title of movie</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<img src="../assets/images/kill-bill.jpg" alt="image-movie">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8">
					<div class="stars">
						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-plus circle" aria-hidden="true"></span>
					</div>
					<br>
					<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, nam. Similique est molestias sit laboriosam at laudantium magnam culpa? Sed quo obcaecati illo consequuntur. Molestias corrupti natus assumenda velit sit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, incidunt iste odio ullam consequatur corporis ipsa in labore laudantium? Consequatur culpa ut placeat explicabo, earum quibusdam itaque nihil repudiandae. Magnam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dicta enim nesciunt voluptatem quo atque molestias amet! Facere, autem? Minima tenetur tempora laborum architecto nam eligendi dolorum, ipsa sunt optio! </p>		
				</div>
				<div class="col-xs-12 col-md-4">
					<img src="../assets/images/movie-1.jpg" alt="movie-small">
				</div>
			</div>
		</div>
		<div class="container ">
			<div class="row black">
				<h1 class="padding-left yellow">Add comment</h1>
				<br>
				<div class="col-xs-10">
					<form class="">
						<textarea class="form-control" rows="7"></textarea>
						<br>
					</form>
				</div>
				<div class="col-xs-2">
					<button type="button" class="btn btn-lg yellow-bk">Publicar</button>
				</div>
			</div>
		</div>
		<br>
		<br>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<form class="black">
						<h2 class="yellow">Search articles</h2>
						<br>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
								<input type="text" class="form-control"placeholder="Search">
							</div>	
						</div>
					</form>
				</div>
			</div>
		</div>

    <div class="tab-menu-holder visible-xs-block">
      <ul>
        <li class="tab-item-btn active col-md-3"><i class="glyphicon glyphicon-home"><a href="#"></a></i></li>
        <li class="tab-item-btn col-md-3"><i class="glyphicon glyphicon-user"><a href="#"></a></i></li>
        <li class="tab-item-btn col-md-3"><i class="glyphicon glyphicon-calendar"><a href="#"></a></i></li>
        <li class="tab-item-btn col-md-3"><i class="glyphicon glyphicon-sunglasses"><a href="#"></a></i></li>
      </ul>
		</div>
	</main>
	<script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../js/movie.js"></script>
</body>

</html>