<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>profile</title>
    <link rel="stylesheet" href="../vendors/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <header>
    <!--Barra de navegacion -->
          <nav class="navbar navbar-default role="navigation"">
                <div class="container-fluid">
                  <div class="navbar-header ">
                        <a class="navbar-brand" href="#"><img src="../assets/images/logo.png" alt=""></a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class=""><a href="#"><span class="sr-only">(current)</span></a></li>
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Peliculas</a></li>
                            <li><button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#myModal">Cerrar Sesión</button></li>
                        </ul>
                    </div>
                 </div>
             </nav>
         </header>
          <section>
            <div class="container-fluid full hero">
                <div class="row">
                    <div class="col-md-offset-7 col-md-5 col-xs-offset-2 col-xs-10 section-2">
                    <!--Movile-->
                        <div class="card-profile">
                            <img src="../assets/images/user.png" alt="user">
                            <span><p>NAME</p></span>
                        </div>
                        <div class="">
                            <span><i class="fa fa-plus" aria-hidden="true"></i></span>
                        </div>
                      </div>
                   </div>
               </div>
         </section>
         <section>
           <div class="container-fluid full hero">
               <div class="row">
                   <div class="col-md-offset-7 col-md-5 col-xs-offset-2 col-xs-10">
                       <!--imagenes 8 y 6-->
                     </div>
                     <div class="view-mobile">
                        <span><i class="fa fa-home" aria-hidden="true"></i></span>
                        <span><i class="fa fa-film" aria-hidden="true"></i></span>
                     </div>
                  </div>
              </div>
         </section>
         <footer>
           © Copyright 2018 - Filmoteca.com
         </footer>
      <!-- scripts -->
     <script src="../vendors/js/jquery-3.2.1.min.js"></script>
     <script src="../js/app.js"></script>
     <script src="../vendors/bootstrap-3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
